* {
	margin: 0px;
	padding: 0px;
}
.bg{
    background-image: url("martial.jpg");
    height: 50%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#nav {
    list-style-type: none;
    padding-top: 0px;
	padding-right: 125px;
    overflow: hidden;
    background-color: #2f2e2e;
	height: 50px;
}
#nav-float {
    float: right;
}
.a {
    display: block;
    color: white;
    text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
    text-decoration: none;
	font-family: Segoe UI Light;
	font-size: 18px;
}
.active {
    background-color: grey;
	display: block;
    color: white;
    text-align: center;
    padding-top: 10px;
	padding-bottom: 20px;
	padding-right: 5px;
	padding-left: 5px;
    text-decoration: none;
	font-family: Segoe UI Light;
	font-size: 18px;
}
li a:hover {
    background-color: grey;
	text-decoration: none;
}
input[type=text] {
    width: 100px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 2px 10px 4px 18px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 100%;
}
.container{
	position: relative;
	margin-left: 5%;
	margin-right: 6%;
    margin-top: 25px;
	height: auto;
	overflow: hidden;
}
.left-half {
  float: left;
  width: 60%;
}
.right-half {
  float: left;
  width: 35%;
}
#title {
  color: black;
  font-size: 40px;
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 2px;
   text-align: center;
   font-weight: bold;
   line-height: 100%;
   background: #a6a6a6;
   border: solid;
   opacity: 0.89;
   border-radius: 5px;
   padding: 8px;
}
#subtext {
  color: black;
  font-size: 15px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  line-height: 150%;
}
.caption {
  color: #999999;
  font-size: 12px;
  line-height: 140%;
}
.design {
  padding: 2%;
  background: silver;
  border: 1px solid black;
  border-radius: .25em;
}
article {
  margin-right: 40px;
}
.highlight {
   background-color: #2f2e2e;
   padding: 13px;
   color: white;
  font-size: 20px;
  position: relative;
  font-family: Verdana, Geneva, sans-serif;
}
 a.nounderline {text-decoration: none; }
 section {
	 margin-left: 5;
 }
 a:hover {opacity: 0.5}
 .hero {
	 margin-left: -180%;
	 margin-top: -135%;
 }
 .wealth {
	  margin-left: -180%;
	 margin-top: 2%;
 }
 .press {
	margin-left: -5%;
	margin-top: -150%;
 }
